@font-face {
	font-family: 'gotham-ssm' ;
	src: url(./fonts/Gotham-Light.otf) format("opentype");
	src: url('fonts/Gotham-Thin.eot') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
		url('fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/Gotham-Thin.svg') format('svg'); /* Legacy iOS */
	font-weight: 500;
	font-style: normal;
}

/* @font-face {
	font-family: 'gotham-ssm-bold' ;
	src: url(/fonts/GothamMedium.ttf);
} */

:root {
	/* Typography*/
	--base-font: 'gotham-ssm', sans-serif;
	/* --base-font-bold: 'gotham-ssm-bold', sans-serif; */

	/* Pallette Colors*/
	--black-color: #141414;
	--white-color: #F2F2F2;
	--gray-color: #2C2D33;
	--gray-color-font: #3E4146;
	--gray-medium: #d0d1d2;
	--btn-bg-color: rgba(23, 26, 32, 0.5);

	/* Font-Size*/
	--font-60: 6em; 
	--font-50: 5em; 
	--font-40: 4em; 
	--font-35: 3.5em;
	--font-30: 3em;
	--font-26: 2.6em;
	--font-24: 2.4em;
	--font-22: 2.2em;
	--font-20: 2em;
	--font-18: 1.8em;
	--font-16: 1.6em;
	--font-14: 1.4em;
	--font-12: 1.2em;	
	
	/* Spacing */
	--spacing--310: 31rem;
	--spacing--250: 25rem;
	--spacing--200: 20rem;
	--spacing--150: 15rem;
	--spacing--120: 12rem;
	--spacing--100: 10rem;
	--spacing--90: 9rem;
	--spacing--80: 8rem;
	--spacing--70: 7rem;
	--spacing--60: 6rem;
	--spacing--50: 5rem;
	--spacing--40: 4rem;
	--spacing--35: 3.5rem;
	--spacing--30: 3rem;
	--spacing--24: 2.4rem;
	--spacing--20: 2rem;
	--spacing--16: 1.6rem;
	--spacing--12: 1.2rem;
	--spacing--10: 1rem;
	--spacing--8: 0.8rem;
	--spacing--4: 0.4rem;
}

*	
*:before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
   /* line-height: 1.5; */
}

html {
	font-family: var(--base-font);
	font-size: 62.5%;
}

body {
	margin: 0;
}

img {
	width: 100%;
}

h1, p , ul, li {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

/* INICIO HEADER */
.header {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	max-width: 150em;
	margin: 0 auto;
}

.header__nav {
	display: grid;
	grid-template-columns:1fr 6fr 1.2fr;
}

.header__div {
	display: flex;
	align-items: center;
	justify-content:center;
}

.header__svg {
	height: var(--font-12);
	color: var(--white-color);
	transition: color .3s ease-out;
}

.header__ul {
	display: flex;
	gap: var(--spacing--30);
	align-items: center;
	justify-content: center;
	padding: 0;
}

.header__li {
	font-size: var(--font-14);
	color: var(--white-color);
	font-weight: 100;
	transition: color .3s ease-out;
}

.header__a {
	font-weight: 900;
}

.header__span {
	cursor: pointer;
}

.header_ul--icons {
	display: flex;
	gap: var(--spacing--8);
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	transition: color .3s ease-out;
}

.header__li--icons {}

.header__a--icon {}

.header__svg--icon {
	height: var(--font-24);
}

/* INICIO MAIN */
/* SECTION HERO */
.main {
	max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	scroll-snap-align: start;
}

/* .section__hero {
	scroll-snap-align: start;
} */

.section__article--hero {
	margin: var(--spacing--80) 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section__h1--hero {
	font-size: var(--font-40);
	font-weight: 900;
	margin: 0 0 var(--spacing--12) 0;
	color: var(--white-color);
}

.section__p--hero {
	font-size: var(--font-16);
	color: var(--white-color);
}

.section__a {
	margin: 0 0 var(--spacing--80) 0;
	border: 3px solid var(--white-color);
	padding: var(--spacing--8) var(--spacing--90);
	border-radius: 0.25em;
	transition: all .3s ease;
	color: var(--white-color);
}

.section__a:hover {
	background-color: var(--white-color);
	border: 3px solid var(--white-color);
	color: var(--gray-color-font);
}

.header__video--hero {
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	position: absolute;    
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%); 
	z-index: -100;
	background-size: cover;
}

.section__span--hero {
	font-size: var(--font-14);
	font-weight: 900;
}

/* SECTIONES */
/* .section__model3 {
	scroll-snap-align: start;
} */

.section__article{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--spacing--100) 0 0 0;
}

.section__h2 {
	font-size: var(--font-40);
	font-weight: 900;
	margin: 0 0 var(--spacing--12) 0;
}

.section__p {
	font-size: var(--font-16);
	font-weight: 900;
	margin: 0 0 0.4em 0;
}

.section__p--overline {
	font-size: var(--font-16);
	font-weight: 900;
	padding:  0 0 0.1em 0;
	border-bottom: 1px solid var(--black-color);
}

.section__article--button {
	margin: 0 0 var(--spacing--80) 0;
	display: flex;
	gap: var(--spacing--24);
}

.section__img--model3 {
	position: absolute;
	z-index: -1;
	top: -70px;
	opacity: .95;
}

.section__a--button {
	padding: var(--spacing--12) var(--spacing--70);
	background-color: var(--white-color);
	border-radius: 0.5em;
}

.section__article--button a:last-child{
	padding: var(--spacing--12) var(--spacing--80);
	background-color: var(--gray-color);
	color: var(--white-color);
	opacity: .8;
}

.section__span--button{
	font-size: var(--font-14);
	font-weight: 900;
}

.section__img--modely {
	position: absolute;
	z-index: -1;
	top: -250px;
	opacity: .95;
}

.section__img--models {
	position: absolute;
	z-index: -1;
	top: -70px;
	opacity: .95;
}

.section__img--modelx {
	position: absolute;
	z-index: -1;
	top: -70px;
	opacity: .95;
}

.section__img--solar {
	position: absolute;
	z-index: -1;
	top: -70px;
	opacity: .95;
}

.section__img--solarRoof {
	position: absolute;
	z-index: -1;
	top: -70px;
	right: 0;
	opacity: .95;
}

.section__img--powerball {
	position: absolute;
	z-index: -1;
	top: -70px;
	opacity: .95;
}

.section__img--accessorios {
	position: absolute;
	z-index: -1;
	top: -60px;
	opacity: .95;
}

/* INICIO FOOTER */
.footer {
	/* display: none; */
	position: fixed;
	bottom: 4%;
    /* transform: translateY(-50%);
	right: 0; */
	left: -3.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	opacity: 0;
	transition: opacity .2s ease;
}

.footer__ul {
	display: flex;
	gap: var(--spacing--12);
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer__li {
	
}

.footer__span {
	font-size: 1.3em;
	color: var(--white-color);
	font-weight: 900;
}

@media screen and (min-width: 320px) and (max-width : 767px){
	/* INICIO HEADER */
	.header {
		max-width: 30em;
		margin: 0 auto;
	}

	.header__nav {
		display: grid;
		grid-template-columns: 1fr 0 0;
	}

	.header__ul {
		display: none;
	}

	.header__li--icons {
		display: none;
	}

	.header__video--hero {
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-size: contain;
	}

	/* INICIO MAIN */
	/* INICIO SECTION HERO */
	.section {
		min-height: 100vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		scroll-snap-align: start;
	}

	.header__video--hero {
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
		position: absolute;    
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%); 
		z-index: -100;
		background-size: cover;
	}

	.section__h1--hero {
		font-size: var(--font-40);
		text-align: center;
	}

	.section__a {
		margin: 0 0 var(--spacing--150) 0;
		border: 3px solid var(--white-color);
		padding: var(--spacing--8) var(--spacing--90);
		border-radius: 0.25em;
		transition: all 0.3s ease 0s;
		color: var(--white-color);
	}

	.section__p {
		font-size: var(--font-16);
		font-weight: 900;
		margin: 0 0 0.4em 0;
		max-width: 15em;
		text-align: center;
	}

	.section__article--button {
		margin: 0 0 var(--spacing--150) 0;
		display: flex;
		flex-direction: column;
		gap: var(--spacing--24);
	}

	/* INICIO SECTION MODEL3 */
	.section__img--model3 {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	/* INICIO SECTION MODELY */
	.section__img--modely {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}
	
	/* INICIO SECTION MODELS */
	.section__img--models {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	/* INICIO SECTION MODELX */
	.section__img--modelx {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	/* INICIO SECTION SOLAR */
	.section__img--solar {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	/* INICIO SECTION SOLAR ROOF */
	.section__img--solarRoof {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	/* INICIO SECTION POWERWALL */
	.section__img--powerball {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	/* INICIO SECTION ACCESSORIES */
	.section__img--accessorios {
		position: absolute;
		z-index: -1;
		top: 0;
		opacity: .95;
		object-fit: cover;
		min-width: 100vw;
		min-height: 100vh; 
	}

	.footer {
		display: none;
	}
}